In [1]:
import numpy as np
import pandas as pd

In [2]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [3]:
train.head()

,id,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,0,42,technician,married,secondary,no,7,no,no,cellular,25,aug,117,3,-1,0,unknown,0
1,1,38,blue-collar,married,secondary,no,514,no,no,unknown,18,jun,185,1,-1,0,unknown,0
2,2,36,blue-collar,married,secondary,no,602,yes,no,unknown,14,may,111,2,-1,0,unknown,0
3,3,27,student,single,secondary,no,34,yes,no,unknown,28,may,10,2,-1,0,unknown,0
4,4,26,technician,married,secondary,no,889,yes,no,cellular,3,feb,902,1,-1,0,unknown,1

In [4]:
train.info()
train.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 750000 entries, 0 to 749999
Data columns (total 18 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   id         750000 non-null  int64
 1   age        750000 non-null  int64
 2   job        750000 non-null  object
 3   marital    750000 non-null  object
 4   education  750000 non-null  object
 5   default    750000 non-null  object
 6   balance    750000 non-null  int64
 7   housing    750000 non-null  object
 8   loan       750000 non-null  object
 9   contact    750000 non-null  object
 10  day        750000 non-null  int64
 11  month      750000 non-null  object
 12  duration   750000 non-null  int64
 13  campaign   750000 non-null  int64
 14  pdays      750000 non-null  int64
 15  previous   750000 non-null  int64
 16  poutcome   750000 non-null  object
 17  y          750000 non-null  int64
dtypes: int64(9), object(9)
memory usage: 103.0+ MB

,id,age,balance,day,duration,campaign,pdays,previous,y
count,750000.000000,750000.000000,750000.000000,750000.000000,750000.000000,750000.000000,750000.000000,750000.000000,750000.000000
mean,374999.500000,40.926395,1204.067397,16.117209,256.229144,2.577008,22.412733,0.298545,0.120651
std,216506.495284,10.098829,2836.096759,8.250832,272.555662,2.718514,77.319998,1.335926,0.325721
min,0.000000,18.000000,-8019.000000,1.000000,1.000000,1.000000,-1.000000,0.000000,0.000000
25%,187499.750000,33.000000,0.000000,9.000000,91.000000,1.000000,-1.000000,0.000000,0.000000
50%,374999.500000,39.000000,634.000000,17.000000,133.000000,2.000000,-1.000000,0.000000,0.000000
75%,562499.250000,48.000000,1390.000000,21.000000,361.000000,3.000000,-1.000000,0.000000,0.000000
max,749999.000000,95.000000,99717.000000,31.000000,4918.000000,63.000000,871.000000,200.000000,1.000000

In [5]:
train.isnull().sum()

id           0
age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [6]:
train['job'].unique()

array(['technician', 'blue-collar', 'student', 'admin.', 'management',
       'entrepreneur', 'self-employed', 'unknown', 'services', 'retired',
       'housemaid', 'unemployed'], dtype=object)

In [7]:
train.columns

Index(['id', 'age', 'job', 'marital', 'education', 'default', 'balance',
       'housing', 'loan', 'contact', 'day', 'month', 'duration', 'campaign',
       'pdays', 'previous', 'poutcome', 'y'],
      dtype='object')

In [8]:
numerical_cols =['age','balance','day','duration','campaign','pdays','previous']
cat_cols = ['job','marital','education','default','housing','loan','contact','month','poutcome']

from sklearn.preprocessing import LabelEncoder
def preprocessing (df,cat_cols):
    #encoder = OrdinalEncoder(handle_unknown='use_encoded_value',unknown_value=-1)
    encoder= LabelEncoder()
    for cols in cat_cols:
        df[cols] = encoder.fit_transform(df[cols])

preprocessing(train,cat_cols)
preprocessing(test,cat_cols)

In [9]:
train.head(20)

,id,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,0,42,9,1,1,0,7,0,0,0,25,1,117,3,-1,0,3,0
1,1,38,1,1,1,0,514,0,0,2,18,6,185,1,-1,0,3,0
2,2,36,1,1,1,0,602,1,0,2,14,8,111,2,-1,0,3,0
3,3,27,8,2,1,0,34,1,0,2,28,8,10,2,-1,0,3,0
4,4,26,9,1,1,0,889,1,0,0,3,3,902,1,-1,0,3,1
5,5,24,0,2,1,0,1882,1,0,0,20,0,1010,3,-1,0,3,0
6,6,39,1,1,1,0,0,0,0,1,21,9,90,1,-1,0,3,0
7,7,50,0,2,1,0,1595,0,0,1,31,5,49,25,-1,0,3,0
8,8,46,1,1,0,0,1463,0,0,0,4,1,50,1,-1,0,3,0
9,9,39,4,0,2,0,25,1,0,0,8,8,119,1,-1,0,3,0
10,10,32,4,2,2,0,876,1,0,0,5,8,119,1,-1,0,3,0
11,11,37,4,1,2,0,0,1,0,0,24,5,64,2,-1,0,3,0
12,12,46,2,1,3,0,635,0,0,2,11,6,71,1,-1,0,3,0
13,13,32,1,1,1,0,471,1,0,2,12,8,157,3,-1,0,3,0
14,14,38,1,1,1,0,1686,1,0,2,26,8,393,2,-1,0,3,0
15,15,37,9,1,1,0,2564,0,0,0,21,1,73,3,-1,0,3,0
16,16,57,1,1,1,0,3109,0,0,0,11,1,122,3,-1,0,3,0
17,17,33,6,1,2,0,437,0,0,0,30,4,101,2,-1,0,3,0
18,18,47,1,1,1,0,0,0,0,0,5,1,71,1,-1,0,3,0
19,19,35,4,2,2,0,524,0,0,0,12,1,82,2,-1,0,3,0

In [10]:
test.columns

Index(['id', 'age', 'job', 'marital', 'education', 'default', 'balance',
       'housing', 'loan', 'contact', 'day', 'month', 'duration', 'campaign',
       'pdays', 'previous', 'poutcome'],
      dtype='object')

In [11]:
train.drop(['default','contact'],axis=1, inplace=True)
test.drop(['default','contact'],axis=1,inplace=True)

In [12]:
from sklearn.preprocessing import OrdinalEncoder
import lightgbm as lgb
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, roc_auc_score
from lightgbm import LGBMClassifier

In [13]:
train.dropna(subset=['y'], inplace=True)
X = train.drop(['y','id'], axis=1)
y = train['y']
test_data = test.drop('id',axis=1)

#model evaluation technique
skf = StratifiedKFold(n_splits=5,shuffle=True,random_state=42)
y_probs = np.zeros(len(test_data))

for fold ,(train_idx,val_idx) in enumerate(skf.split(X, y)):
    print(f"Training fold {fold + 1}/5 >>>")
    X_train, y_train = X.iloc[train_idx], y.iloc[train_idx]
    X_val, y_val = X.iloc[val_idx], y.iloc[val_idx]

    model = lgb.LGBMClassifier(
        objective='binary',
        n_estimators=20000,
        learning_rate=0.06,
        num_leaves=100,
        max_depth=10,
        min_child_samples=9,
        subsample=0.8,
        colsample_bytree=0.5,
        reg_alpha=0.79,
        reg_lambda=3.0,
        max_bin=4523,
        random_state=42,
        verbosity=-1
    )

    model.fit(
        X_train,
        y_train,
        eval_set=[(X_val, y_val)],
        eval_metric='auc',
        callbacks=[
            lgb.early_stopping(500),
            lgb.log_evaluation(period=500)
        ])


    y_probs += model.predict_proba(test_data)[:, 1]/5

Training fold 1/5 >>>
Training until validation scores don't improve for 500 rounds
[500]	valid_0's auc: 0.971027	valid_0's binary_logloss: 0.138509
[1000]	valid_0's auc: 0.972542	valid_0's binary_logloss: 0.134674
[1500]	valid_0's auc: 0.973034	valid_0's binary_logloss: 0.133297
[2000]	valid_0's auc: 0.973253	valid_0's binary_logloss: 0.132703
[2500]	valid_0's auc: 0.973346	valid_0's binary_logloss: 0.13246
[3000]	valid_0's auc: 0.973266	valid_0's binary_logloss: 0.132622
Early stopping, best iteration is:
[2585]	valid_0's auc: 0.973348	valid_0's binary_logloss: 0.13244
Training fold 2/5 >>>
Training until validation scores don't improve for 500 rounds
[500]	valid_0's auc: 0.969692	valid_0's binary_logloss: 0.14097
[1000]	valid_0's auc: 0.971261	valid_0's binary_logloss: 0.137228
[1500]	valid_0's auc: 0.971807	valid_0's binary_logloss: 0.135869
[2000]	valid_0's auc: 0.972016	valid_0's binary_logloss: 0.135331
[2500]	valid_0's auc: 0.972114	valid_0's binary_logloss: 0.135122
Early stopping, best iteration is:
[2313]	valid_0's auc: 0.972124	valid_0's binary_logloss: 0.135089
Training fold 3/5 >>>
Training until validation scores don't improve for 500 rounds
[500]	valid_0's auc: 0.969471	valid_0's binary_logloss: 0.141511
[1000]	valid_0's auc: 0.971173	valid_0's binary_logloss: 0.137535
[1500]	valid_0's auc: 0.9717	valid_0's binary_logloss: 0.13623
[2000]	valid_0's auc: 0.97191	valid_0's binary_logloss: 0.135746
[2500]	valid_0's auc: 0.972006	valid_0's binary_logloss: 0.135551
[3000]	valid_0's auc: 0.972033	valid_0's binary_logloss: 0.135584
Early stopping, best iteration is:
[2544]	valid_0's auc: 0.972031	valid_0's binary_logloss: 0.135498
Training fold 4/5 >>>
Training until validation scores don't improve for 500 rounds
[500]	valid_0's auc: 0.970726	valid_0's binary_logloss: 0.139138
[1000]	valid_0's auc: 0.972232	valid_0's binary_logloss: 0.135399
[1500]	valid_0's auc: 0.972749	valid_0's binary_logloss: 0.134042
[2000]	valid_0's auc: 0.972954	valid_0's binary_logloss: 0.133501
[2500]	valid_0's auc: 0.973002	valid_0's binary_logloss: 0.13336
Early stopping, best iteration is:
[2374]	valid_0's auc: 0.973019	valid_0's binary_logloss: 0.133329
Training fold 5/5 >>>
Training until validation scores don't improve for 500 rounds
[500]	valid_0's auc: 0.969954	valid_0's binary_logloss: 0.140392
[1000]	valid_0's auc: 0.971581	valid_0's binary_logloss: 0.136446
[1500]	valid_0's auc: 0.972122	valid_0's binary_logloss: 0.135011
[2000]	valid_0's auc: 0.972344	valid_0's binary_logloss: 0.134423
[2500]	valid_0's auc: 0.972446	valid_0's binary_logloss: 0.134139
[3000]	valid_0's auc: 0.972474	valid_0's binary_logloss: 0.134088
[3500]	valid_0's auc: 0.972459	valid_0's binary_logloss: 0.134174
Early stopping, best iteration is:
[3028]	valid_0's auc: 0.972483	valid_0's binary_logloss: 0.134069

In [14]:
sub = pd.DataFrame({'id':test['id'],'y':y_probs})
print(sub)
sub.to_csv("submission.csv",index=False)
print("file saved successfully")

            id         y
0       750000  0.009860
1       750001  0.097822
2       750002  0.000079
3       750003  0.000041
4       750004  0.011798
...        ...       ...
249995  999995  0.000076
249996  999996  0.056671
249997  999997  0.635674
249998  999998  0.000715
249999  999999  0.094511

[250000 rows x 2 columns]
file saved successfully